$colors: (
  primary: #ff862e,
  secondary: #540d6e,
  neutral: #efefef,
  neutral-dark: #495159,
  black: #111,
  white: #fff,
  none: transparent,
);

$directions: top bottom left right;

@each $name, $color in $colors {
  .border-#{$name} {
    border-width: 2px;
    border-style: solid;
    border-color: $color;
  }

  .border-circle-#{$name} {
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: $color;
  }

  .hover-border-#{$name} {
    &:hover {
      border-width: 2px;
      border-style: solid;
      border-color: $color;
    }
  }

  @each $direction in $directions {
    .border-#{$direction}-#{$name} {
      border-#{$direction}-width: 2px;
      border-#{$direction}-style: solid;
      border-#{$direction}-color: $color;
    }
  }
}

.border-radius {
  border-radius: 4px;
}

.border-radius-none {
  border-radius: 0;
  &:hover {
    border-radius: 0;
  }
}

.border-circle {
  border-radius: 100%;
}

.outline-none {
  outline: none;
}
