$justify: flex-start flex-end space-between space-around center;
$align: flex-start flex-end stretch center;

@each $direction in $justify {
  .justify-#{$direction} {
    justify-content: $direction;
  }
}

@each $direction in $align {
  .align-#{$direction} {
    align-items: $direction;
  }
}

$flex: row column row-reverse column-reverse;

@each $direction in $flex {
  .flex-#{$direction} {
    display: flex;
    flex-direction: $direction;
  }
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-gap {
  gap: 8px;
}

$numbers: 1 2 3 4 5 6 7 8;

@each $number in $numbers {
  .flex-#{$number} {
    flex: $number;
  }
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.center-image {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$positions: absolute relative fixed sticky;

@each $position in $positions {
  .#{$position} {
    position: $position;
  }
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.container {
  max-width: 967px;
  margin: 0 auto;
  padding-top: 32px;
}

.full-vh {
  height: 100vh;
}

.full-vw {
  width: 100vw;
}

$size: 0;
@while $size < 967 {
  .width-#{$size} {
    width: #{$size}px;
  }

  .height-#{$size} {
    height: #{$size}px;
  }

  .max-width-#{$size} {
    max-height: #{$size}px;
    overflow-x: auto;
  }

  .max-height-#{$size} {
    max-height: #{$size}px;
    overflow-y: auto;
  }

  $size: $size + 10;
}

.overflow-hidden {
  overflow: hidden;
}

.resize-none {
  resize: none;
}
