$sizes: 10 12 14 16 20 24 28 32 46 40 44 48;

@each $size in $sizes {
  .font-#{$size} {
    font-size: #{$size}px;
  }
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}
