@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'borders';
@import 'colors';
@import 'cursor';
@import 'layout';
@import 'shadows';
@import 'spacing';
@import 'text';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  box-shadow: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #aaa8a5;
  outline: none;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  #root {
    position: relative;
    height: 100%;
    width: 100%;
  }
}
