@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'borders';
@import 'colors';
@import 'cursor';
@import 'layout';
@import 'shadows';
@import 'spacing';
@import 'text';
@import 'custom';

* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  box-shadow: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #aaa8a5;
  outline: none;
}

body {
  #root {
    position: relative;
    height: 100%;
    width: 100%;
  }
}
